.modal{
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 1;
    }
    &-overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    &-body{
        position: relative;
        width: 500px;
        padding: 15px;
        box-sizing: border-box;
        background-color: #fff;
        margin: 40px auto;
        border-radius: 3;
        z-index: 2;
        text-align: left;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);

        @include respond(phone) {
            
                width: fit-content;
          }
    }
    &-close{
        display: flex;
        justify-content: flex-end;
        font-size: 22px;
        cursor: pointer;
    }
}





