.user{
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        background: $color-grey-light-2;
        position: relative;
        padding: 5;
      width: 50vw;
      min-height: 100vh;
        // min-width: 50rem;
        box-shadow: $shadow-dark;
        // min-height: 50rem;
        display: flex;
        justify-content: center;

        @include respond(phone) {
            min-width: 90vw;
        }
    }
    &--card{
        text-align: center;
        padding-top: 2rem;

        &-img{
            border-radius: 50%;
        }
        &-username{
            color: gray;
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
    &--add-button{
        padding: 2rem;
        border-radius: 50%;
        background: $color-primary;
        height: 10px;
        width: 10px;
        font-size: 2rem;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 2rem;
        color: $color-grey-dark-3;
        cursor: pointer;
        border: none;
        // position: fixed;
       &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    }
    &-edit{
        height: 15Px;
        width: 22px;
        cursor: pointer;
    }
    &-del {
        height: 25Px;
        position: absolute;
        width: 22px;
        right: 15px;
        bottom: 20px;
        cursor: pointer;
    }
}




.form-inventory{
    display: flex;
    justify-content: center;
}
.form-inventory__header {
    text-align: center;
}
.form-inventory__body {
    padding: 1rem;
    width: 30rem;
    border: 0;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.form-inventory__body div {
    padding: 10px;
    width: 95%;
}
.form-inventory__body div input,
.form-inventory__body div select  {
    margin-top: 5px;
    width: inherit;
    font-size: 14px;
}

.form-inventory__body div .form-inventory__body-submitBtn {
    width: 40%;
    height: 2rem;
    color: #ffffff;
    outline: 0;
    border: none;
    /* background-color: rgb(58, 204, 108); */
    background-color: $color-primary-light;
}

@media(max-width: 600px) {
    .form-inventory__body {
        width: auto;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    }
  }
