
// COLORS
$color-primary: #FF4271;
$color-primary-light:  #FF3366;
$color-primary-dark: #BA265D;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #3f3d56;

$color-white: #fff;
$color-black: #000;
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;